.navlinks{
    display: flex;
    flex-flow: row;
    gap: var(--padding-1);
    padding: var(--padding-1);
    list-style: none;
}


@media (max-width: 40em){
    .navlinks{
        display: flex;
        flex-flow: column;
    }
}