.navlink a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: var(--dark);
}

.navlink a:hover,
.navlink a:active,
.navlink a.active{
    cursor: pointer;
    color: var(--accent);
    transition: 0.33s;
}

@media (max-width: 40em){
    .navlink a{
        margin: var(--padding-1);
    }
}

