.form {
    background-color: var(--neutral);
    padding: var(--padding-3);
    display: flex;
    flex-flow: column;
    gap: var(--padding-3);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: var(--padding-1);
    margin-top: var(--padding-4);
  }
  
  .inputBlock {
    display: flex;
    flex-flow: column;
    gap: var(--padding-1);
  }
  
  .inputBlock input {
    padding: var(--padding-1);
    border: 3px solid var(--neutral);
    width: 100%;
    transition: border 0.33s ease-in-out;
  }
  
  .inputBlock input:active,
  .inputBlock input:focus,
  .inputBlock input:hover {
    border: 3px solid var(--dark);
  }
  
  .error {
    background-color: lightcoral;
    padding: var(--padding-1);
    border: 3px solid red;
    color: var(--light);
  }
  
  .success {
    background-color: lightgreen;
    padding: var(--padding-1);
    border: 3px solid green;
    color: var(--dark);
  }
  
  .link {
    color: var(--accent);
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.33s ease-in-out;
  }
  
  .link:hover {
    color: var(--dark);
  }
  