.navlinks{
    display: flex;
    flex-flow: row;
    gap: var(--padding-1);
    padding: var(--padding-1);
    list-style: none;
    align-items: center;
}


@media (max-width: 40em){
    .navlinks{
        display: flex;
        flex-flow: column;
        align-items: start;
    }
}