.navbar{
    position: relative;
    top: 0;
    left: 0;
    z-index: 200;
    height: 7rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: var(--padding-1);
    background-color: var(--neutral);
}

.logo{
    max-width: 11rem;
}

@media (max-width: 40em) {
    .links{
        display: none;
    }
}