.section {
    width: 100%;
    padding: var(--padding-3);
}

.form {
    background-color: var(--neutral);
    padding: var(--padding-3);
    display: flex;
    flex-flow: column;
    gap: var(--padding-3);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: var(--padding-1);
}

.formLayout {
    display: flex;
    flex-flow: column;
    gap: var(--padding-3);
}

.formBanner {
    display: flex;
    flex-flow: column;
    gap: var(--padding-1);
}

.formContent {
    display: flex;
    flex-flow: column;
    gap: var(--padding-3);
}

.multiInputBlock {
    background-color: var(--light);
    padding: var(--padding-3);
    display: flex;
    flex-flow: column;
    gap: var(--padding-1);
    color: var(--dark);
}

.relatedInputBlock {
    /* display: flex;
    flex-flow: row wrap; */

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--padding-1);
}

.inputBlock {
    display: flex;
    flex-flow: column;
    gap: var(--padding-1);
}

.passwordBlock {
    display: flex;
    flex-flow: row;
}

.buttonBlock {
    display: flex;
    flex-flow: row;
    gap: var(--padding-1);
    justify-content: space-between;
}

.errorMessage {
    background-color: lightcoral;
    padding: var(--padding-1);
    border: 3px solid red;
    color: var(--light);
}

.inputBlock input {
    padding: var(--padding-1);
    border: 3px solid var(--neutral);
    width: 100%;
    transition: 0.33s ease-in-out;
}

.inputBlock input:active,
.inputBlock input:focus,
.inputBlock input:hover{
    border: 3px solid var(--dark);
}

.inputBlock select {
    padding: var(--padding-1);
    outline: none;
    border: 3px solid var(--neutral);
    transition: 1s ease-in-out;
}

.inputBlock select:active,
.inputBlock select:focus,
.inputBlock select:hover{
    border: 3px solid var(--dark);
}

.radioGroup {
    display: flex;
    flex-flow: row;
    overflow: hidden;
    align-items: center;
    height: var(--padding-2);
}

.radioGroup input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.radioGroup label {
    background-color: var(--neutral);
    color: var(--dark);
    transition: all 0.3s ease-in-out;
    padding: var(--padding-1) var(--padding-2);
}

.radioGroup label:hover {
    cursor: pointer;
}

.radioGroup input:checked+label {
    background-color: var(--accent);
    color: var(--light);
    box-shadow: none;
}

.checkboxGroup {
    display: flex;
    flex-flow: row;
    gap: 1rem;
    color: var(--dark);
}

.checkbox {
    width: unset;
}

.progressBar {
    width: 100%;
}

.progressFill {
    display: flex;
    flex-flow: row wrap;
}

.progressButton {
    height: var(--padding-3);
    border: solid 3px var(--neutral);
    cursor: pointer;
    color: var(--dark);
    background-color: #ccc;
    transition: background-color 0.5s ease-in-out;
    padding: 0 var(--padding-1);
}

.progressButton:hover {
    color: var(--light);
    background-color: var(--accent);
}

.fillButton {
    height: var(--padding-3);
    border: solid 1px var(--neutral);
    cursor: pointer;
    color: var(--light);
    background-color: var(--accent);
    transition: background-color 0.5s ease-in-out;
    padding: 0 var(--padding-1);
}