.policySection{
    background-color: var(--neutral);
    padding: var(--padding-3);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: var(--padding-1);
}

.policyContent{
    display: flex;
    flex-flow: column;
    gap: var(--padding-3);
    padding: var(--padding-3);
}

.policyCard{
    background-color: var(--light);
    padding: var(--padding-3);
    display: flex;
    flex-flow: column;
    gap: var(--padding-1);
    color: var(--dark);
}